<tr>
	<td><%= wiki.title %></td>
	<td><%= markdown wiki.body %></td>
	<td><%= wiki.private %></td>
	<td><%= wiki.user.first_name %></td>
	<td><%= link_to 'Show', wiki %></td>
	<td><%= link_to 'Edit', edit_wiki_path(wiki) %></td>
	<td><%= link_to 'Destroy', wiki, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>